.contact_page {
  padding: 5rem 0;
}

.contact_page > div {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact_left p {
  margin: 1rem 0;
}

.contact_right {
  width: 45%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 1rem;
  padding: 3rem;
}

.contact_right p {
  font-size: 20px;
  font-family: var(--clash-semibold);
  color: var(--pink);
}

.contact_right form input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid white;
  border-radius: 5px;
  background-color: transparent;
  margin: 1rem 0;
}

.contact_right form input::placeholder,
.contact_right form textarea::placeholder {
  color: white;
  font-family: var(--primary-font);
}

.contact_right form textarea {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid white;
  border-radius: 5px;
  background-color: transparent;
  margin: 1rem 0;
}

.contact_right button {
  margin: auto;
}

@media (max-width: 480px) {
  .contact_page > div {
    flex-direction: column-reverse;
    width: 90%;
  }

  .contact_left,
  .contact_right {
    width: 100%;
  }

  .contact_left > p,
  .contact_left > h2 {
    display: none;
  }

  .contact_left > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .contact_right {
    background-color: transparent;
    padding: 2rem;
  }
}
