.judging {
  border-bottom: 1px solid var(--white-fade);
  padding: 4rem 0;
  position: relative;
}

.judging > div {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.judging h2 {
  margin-bottom: 32px;
  font-size: 32px;
}

.judging span {
  color: var(--pink);
}

.judging ul {
  list-style-type: none;
  padding: 0;
}

.judging ul li {
  margin-bottom: 1rem;
  font-size: 14px;
  line-height: 27.5px;
}

.judging .register_btn {
  margin-top: 3rem;
}

.judging_text {
  width: 45%;
}

.judging img {
  width: 50%;
}

@media (max-width: 480px) {
  .judging > div {
    flex-direction: column;
  }

  .judging img {
    width: 100%;
  }

  .judging_text {
    width: 90%;
    margin: auto;
    text-align: center;
  }

  .judging ul li {
    font-size: 13px;
  }

  .judging h2 {
    font-size: 20px;
    margin: 1rem;
  }
}
