header {
  border-bottom: 1px solid var(--white-fade);
}

.closer {
  display: none;
}

nav {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;
}

nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 3rem;
}

.link_holder {
  display: flex;
  align-items: center;
  gap: 6rem;
}

.logo {
  font-family: ClashDisplay-Bold;
  font-size: 36px;
  line-height: 44.28px;
}

.logo span {
  color: var(--pink);
}

.contact_link {
  background: -webkit-linear-gradient(#903aff, #fe34b9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu_btn {
  display: none;
}

@media (max-width: 480px) {
  .menu_btn {
    display: block;
  }

  .link_holder {
    position: absolute;
    width: 100vw;
    height: 100vh;
    inset: 0;
    flex-direction: column;
    background-color: var(--purple-dark);
    top: 0;
    z-index: 1;
    padding: 1rem;
    align-items: normal;
  }

  .closer {
    display: block;
    width: 30px;
    position: absolute;
    right: 1rem;
  }

  .link_holder ul {
    flex-direction: column;
    align-items: normal;
    margin-top: 2rem;
  }

  .link_holder .register_btn {
    margin-top: 2rem;
  }

  .logo {
    font-size: 14px;
  }

  .show {
    display: block;
  }

  .hide {
    display: none;
  }
}
