.timeline {
  padding: 5rem 0;
  border-bottom: 1px solid var(--white-fade);
  position: relative;
}

.timeline > div {
  width: 85%;
  margin: auto;
}

.timeline_top {
  text-align: center;
}

.timeline_holder {
  margin: auto;
  margin-top: 64px;
}

.timeline_top p {
  font-size: 14px;
  line-height: 27.5px;
  margin-top: 32px;
}

.single_timeline {
  display: flex;
  align-items: end;
  align-items: center;
  align-items: last baseline;
  justify-content: space-between;
}

.single_timeline:nth-of-type(even) {
  flex-direction: row-reverse;
}

.single_timeline > div {
  width: 45%;
}

.single_timeline > div:first-of-type {
  text-align: right;
}

.single_timeline:nth-of-type(even) > div:first-of-type {
  text-align: left;
}

.single_timeline:nth-of-type(even) > div:last-of-type {
  text-align: right;
}

.single_timeline > div:nth-of-type(2) {
  width: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.vertical_line {
  border: 1px solid var(--pink);
  min-height: 120px;
  margin: 0.5rem 0;
}

.sphere {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: var(--gradient);
  display: flex;
  align-items: center;
  justify-content: center;
}

.timeline_title,
.timeline_date {
  font-weight: bold;
  font-size: 24px;
  color: var(--pink);
}

.timeline_date {
  margin-bottom: 1rem;
}

.timeline_description {
  font-size: 14px;
  line-height: 27.5px;
  margin-top: 1rem;
}

@media (max-width: 480px) {
  .timeline_title,
  .timeline_description,
  .timeline_date {
    font-size: 12px;
  }

  .timeline_date {
    padding-left: 2.5rem;
  }

  .single_timeline {
    position: relative;
  }
  .single_timeline > div:nth-of-type(2) {
    order: -1;
  }
  .single_timeline:nth-of-type(even) > div:last-of-type {
    text-align: left;
  }
  .single_timeline > div:not(:nth-of-type(2)) {
    position: absolute;
    width: 90%;
    text-align: left;
    font-size: 12px;
  }
  .single_timeline > div:not(:nth-of-type(2)):first-of-type {
    top: 0;
    right: 0;
  }
  .single_timeline > div:not(:nth-of-type(2)):last-of-type {
    bottom: 0.5rem;
  }

  .single_timeline:nth-of-type(even) {
    flex-direction: row;
  }
}
