@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Unica+One&display=swap");

:root {
  --purple: #9030af;
  --purple-dark: #150e28;
  --pink: #d434fe;
  --primary-font: "Montserrat", sans-serif;
  --clash-bold: ClashDisplay-Bold;
  --clash-semibold: ClashDisplay-Semibold;
  --clash-medium: ClashDisplay-Medium;
  --clash-regular: ClashDisplay-Regular;
  --clash-light: ClashDisplay-Light;
  --clash-extra-light: ClashDisplay-Extralight;
  --clash-variable: ClashDisplay-Variable;
  --unica: "Unica One", cursive;
  --gradient: linear-gradient(to right, #903aff, #fe34b9);
  --white-fade: rgba(255, 255, 255, 0.18);
}

@font-face {
  font-family: "ClashDisplay-Variable";
  src: url("../fonts/ClashDisplay-Variable.woff2") format("woff2"),
    url("../fonts/ClashDisplay-Variable.woff") format("woff"),
    url("../fonts/ClashDisplay-Variable.ttf") format("truetype");
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "ClashDisplay-Extralight";
  src: url("../fonts/ClashDisplay-Extralight.woff2") format("woff2"),
    url("../fonts/ClashDisplay-Extralight.woff") format("woff"),
    url("../fonts/ClashDisplay-Extralight.ttf") format("truetype");
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "ClashDisplay-Light";
  src: url("../fonts/ClashDisplay-Light.woff2") format("woff2"),
    url("../fonts/ClashDisplay-Light.woff") format("woff"),
    url("../fonts/ClashDisplay-Light.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "ClashDisplay-Regular";
  src: url("/src/assets/fonts/clashDisplay/ClashDisplay-Regular.woff2")
      format("woff2"),
    url("/src/assets/fonts/clashDisplay/ClashDisplay-Regular.woff")
      format("woff"),
    url("/src/assets/fonts/clashDisplay/ClashDisplay-Regular.ttf")
      format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "ClashDisplay-Medium";
  src: url("/src/assets/fonts/clashDisplay/ClashDisplay-Medium.woff2")
      format("woff2"),
    url("/src/assets/fonts/clashDisplay/ClashDisplay-Medium.woff")
      format("woff"),
    url("/src/assets/fonts/clashDisplay/ClashDisplay-Medium.ttf")
      format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "ClashDisplay-Semibold";
  src: url("/src/assets/fonts/clashDisplay/ClashDisplay-Semibold.woff2")
      format("woff2"),
    url("/src/assets/fonts/clashDisplay/ClashDisplay-Semibold.woff")
      format("woff"),
    url("/src/assets/fonts/clashDisplay/ClashDisplay-Semibold.ttf")
      format("truetype");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "ClashDisplay-Bold";
  src: url("/src/assets/fonts/clashDisplay/ClashDisplay-Bold.woff2")
      format("woff2"),
    url("/src/assets/fonts/clashDisplay/ClashDisplay-Bold.woff") format("woff"),
    url("/src/assets/fonts/clashDisplay/ClashDisplay-Bold.ttf")
      format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

body {
  background-color: var(--purple-dark);
  color: white;
  font-family: var(--primary-font);
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--clash-bold);
}

span {
  color: var(--pink);
}

h2 {
  font-size: 32px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
